# Dependencies
node_modules/
.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.env.*

# Build/Output Directories
out/
dist/
build/
*.egg-info/

# Logs and databases
*.log
*.sqlite3
*.db

# OS Files
.DS_Store
Thumbs.db
.vscode-test/

# Project-specific
bugshield_Web/storage/
bugshield_Web/backend/storage/
bugshield_Web/reports/*
!bugshield_Web/reports/.gitkeep
